# App
APP_PORT=
APP_ENV=

# PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=

# Redis
REDIS_HOST=
REDIS_PORT=

# RabbitMQ
RABBITMQ_URL=

# Email provider 
EMAIL_PROVIDER=
SENDGRID_API_KEY=
AWS_SES_REGION=

# Admin
ADMIN_API_KEY=